<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1 th:text="${cadena}"></h1>

  <div th:if="${mensaje}" class="alert alert-success" th:text="${mensaje}"></div>

  <form th:action="@{/usuario/invitar}" method="post" th:object="${invitacion}">
    <div class="form-group mb-3">
      <label for="email">Correo electrónico del invitado</label>
      <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required />
    </div>

    <button type="submit" class="btn btn-primary">Enviar invitación</button>
  </form>


</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
