<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">

    <div class="container mt-5">
        <h2 class="mb-4">Completa tu registro</h2>

        <form th:action="@{/usuario/registro}" method="post" th:object="${usuario}">

            <input type="hidden" name="token" th:value="${token}"/>

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" th:field="*{nombre}" required>
            </div>

            <input type="hidden" class="form-control"  th:value="${email}" name="email" id="email" readonly>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" th:field="*{contraseña}" required>
            </div>

            <button type="submit" class="btn btn-primary">Registrarme</button>
        </form>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
