<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">

    <h2>Nuevo Equipo</h2>
    <form th:action="@{/equipos/guardar}" method="post" th:object="${equipo}">
        <label>Nombre: <input type="text" th:field="*{nombre}" /></label><br>
        <button type="submit">Guardar</button>
    </form>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
