<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">

  <h1 th:text="${info}"></h1>

    <form th:action="@{/reporte/ver}" method="get">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <select class="form-control" name="proyectoId" id="proyectoId">
                        <option value="" disabled selected>-- Elige un proyecto --</option>
                        <option th:each="proyecto : ${proyectos}"
                                th:value="${proyecto.id}"
                                th:text="${proyecto.nombre}">Proyecto</option>
                    </select>
                    <label for="proyectoId">Selecciona un proyecto</label>
                </div>
            </div>
        </div>

        <div class="col-8">
            <br/>
            <button type="submit" class="btn btn-danger">Generar Reporte PDF</button>
        </div>
    </form>


</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
