<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">

  <h1 th:text="${info}"></h1>

    <form th:action="@{crear}" th:object="${reporte}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
            Verifique los siguientes inconvenientes
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <input
                            th:class="${#fields.hasErrors('proyecto')}? 'form-control is-invalid':form-control"

                            type="text" id="proyecto"
                            name="proyecto"
                            th:field="*{proyecto}"
                            placeholder="proyecto">
                    <label for="proyecto">Proyecto:</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <select th:class="${#fields.hasErrors('tipo')}? 'form-control is-invalid':form-control"
                            type="text" id="tipo"
                            name="tipo"
                            th:field="*{tipo}">
                        <option th:value="${T(dgtic.core.M8P1.model.TipoReporte).General}" th:text="${T(dgtic.core.M8P1.model.TipoReporte).General}"></option>
                        <option th:value="${T(dgtic.core.M8P1.model.TipoReporte).Tareas}" th:text="${T(dgtic.core.M8P1.model.TipoReporte).Tareas}"></option>
                        <option th:value="${T(dgtic.core.M8P1.model.TipoReporte).Error}" th:text="${T(dgtic.core.M8P1.model.TipoReporte).Error}"></option>
                        <option th:value="${T(dgtic.core.M8P1.model.TipoReporte).Mejora}" th:text="${T(dgtic.core.M8P1.model.TipoReporte).Mejora}"></option>
                        <option th:value="${T(dgtic.core.M8P1.model.TipoReporte).Otro}" th:text="${T(dgtic.core.M8P1.model.TipoReporte).Otro}"></option>
                    </select>
                    <label for="tipo">Tipo:</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <input th:class="${#fields.hasErrors('contenido')}? 'form-control is-invalid':form-control"
                           type="Text" id="contenido"
                           name="contenido"
                           th:field="*{contenido}"
                           placeholder="contenido">
                    <label for="contenido">Contenido:</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <input th:class="${#fields.hasErrors('fecha')}? 'form-control is-invalid':form-control"
                           type="Date" id="fecha"
                           name="fecha"
                           th:field="*{fecha}"
                           placeholder="fecha">
                    <label for="fecha">Fecha:</label>
                </div>
            </div>
        </div>

        <div class="col-8">
            <br/>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
