<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1 th:text="${proyectos}"></h1>

  <form th:action="@{crear}" th:object="${proyecto}" method="post">
    <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
      Verifique los siguientes inconvenientes
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-floating">
          <input
                  th:class="${#fields.hasErrors('nombre')}? 'form-control is-invalid':form-control"

                  type="text" id="nombre"
                  name="nombre"
                  th:field="*{nombre}"
                  placeholder="nombre">
          <label for="nombre">Nombre:</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-floating">
          <input th:class="${#fields.hasErrors('descripcion')}? 'form-control is-invalid':form-control"
                 type="text" id="descripcion"
                 name="descripcion"
                 th:field="*{descripcion}"
                 placeholder="descripcion">
          <label for="descripcion">Descripcion:</label>
        </div>
      </div>
    </div>

<!--    <div class="row justify-content-center">-->
<!--      <div class="col-6">-->
<!--        <div class="form-floating">-->
<!--          <input th:class="${#fields.hasErrors('fechaCreacion')}? 'form-control is-invalid':form-control"-->
<!--                 type="Date" id="fechaCreacion"-->
<!--                 name="fechaCreacion"-->
<!--                 th:field="*{fechaCreacion}"-->
<!--                 placeholder="fechaCreacion">-->
<!--          <label for="fechaCreacion">fecha Creacion:</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-floating">
<!--          <input th:class="${#fields.hasErrors('creador')}? 'form-control is-invalid':form-control"-->
<!--                 type="text" id="creador"-->
<!--                 name="creador"-->
<!--                 th:field="*{creador}"-->
<!--                 placeholder="creador">-->
<!--          <label for="creador">Administrador:</label>-->

<!--          <select name="creador" id="creador">-->
<!--            <option th:each="usuario : ${usuarios}"-->
<!--                    th:value="${usuario.id}"-->
<!--                    th:text="${usuario.nombre}"-->
<!--                    th:selected="${usuario.id == usuarioSeleccionado}">-->
<!--            </option>-->
<!--            <label for="creador">Administrador:</label>-->
<!--          </select>-->

        </div>
      </div>
    </div>


    <div class="col-8">
      <br/>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
