<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1 th:text="${proyecto}"></h1>

  <table th:if="${!proyectos.isEmpty()}" class="table table-striped table-hover table-sm">
    <thead class="table-dark table-bordered">
    <tr>
      <th scope="col"> Nombre</th>
      <th scope="col"> Descripcion</th>
      <th scope="col"> Fecha de creación</th>
      <th scope="col"> Administrador</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proyecto: ${proyectos}">
      <td th:text="${proyecto.nombre}"></td>
      <td th:text="${proyecto.descripcion}"></td>
      <td th:text="${proyecto.fechaCreacion}"></td>
      <td th:text="${proyecto.creador.nombre}"></td>
      <td>
        <a th:href="@{/lote/modificar-lote/{id} (id=${proyecto.id})}"
           class="btn btn-success">Modificar <i class="fas fa-pen-nib"
                                                aria-hidden="true"></i> </a>
        <a th:href="@{/lote/eliminar-lote/{id} (id=${proyecto.id})}"
           class="btn btn-danger">Eliminar <i class="fas fa-trash-alt"
                                              aria-hidden="true"></i> </a>

      </td>
    </tr>
    </tbody>
  </table>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
