html {
    height: 100%;
}
body{
     height: 100%;
     background-image: url("/image/home.png");
     background-size: cover;
     background-position: center;
}
img{
    opacity: 0.5;
}
nav{
    background-color: #172b4d;
}
footer{
    background-color: #172b4d;
    font-color:
}
